@import url('https://fonts.googleapis.com/css?family=Montserrat');  
 * {  
      box-sizing: border-box;  
 }  
 body {  
  background-color: #24C6DC;
      /* background-color: #28223F;   */
      font-family: Montserrat, sans-serif;  
      display: flex;  
      align-items: center;  
      justify-content: top;  
      position: static;
      flex-direction: column;  
      padding-top: 10px;
      width: 100%;   
     /* width added */
      min-height: 100vh;  
      margin: 0;  
 }  
 /* body {  
  background-color: #24C6DC;
      font-family: Montserrat, sans-serif;  
      display: flex;  
      align-items: center;  
      justify-content: center;  
      flex-direction: column;  
      min-height: 100vh;  
      margin: 0;  
 } */
 h3 {  
      margin: 10px 0;  
 }  
 h6 {  
      margin: 5px 0;  
      text-transform: uppercase;  
 }  
 p {  
      font-size: 14px;  
      line-height: 21px;  
 }  
 .card-container {  
      /* background-color: #231E39;   */
      background-color: #514A9D;
      border-radius: 5px;  
      box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);  
      color: #B3B8CD;  
      padding-top: 30px;  
      position: relative;  
      /* width: 350px;   */
      width: 66%;
    
      max-width: 100%;  
      text-align: center;  
 }  
 .card-container .pro {  
      /* color: #231E39;   */
      color: #24C6DC;
      background-color: #FEBB0B;  
      border-radius: 3px;  
      font-size: 14px;  
      font-weight: bold;  
      padding: 3px 7px;  
      /* position: absolute;   */
      top: 30px;  
      left: 30px;  
 }  
 .card-container .round {  
      border: 1px solid #03BFCB;  
      border-radius: 50%;  
      padding: 7px;  
 }  
 button.primary {  
      background-color: #03BFCB;  
      border: 1px solid #03BFCB;  
      border-radius: 3px;  
      color: #231E39;  
      font-family: Montserrat, sans-serif;  
      font-weight: 500;  
      padding: 10px 25px;  
 }  
 button.primary.ghost {  
      background-color: transparent;  
      color: #02899C;  
 }  
 /* skill box */
 .skills {  
      background-color: #1F1A36;  
      text-align: left;  
      padding: 15px;  
      margin-top: 0px;  
      border-radius: 4px;
 }  
 .skills ul {  
      list-style-type: none;  
      margin: 0;  
      padding: 5px;  
 }  
 .skills ul li {  
      border: 1px solid #2D2747;  
      border-radius: 40px;  
      display: inline-block;  
      font-size: 12px;  
      margin: 0 7px 7px 0;  
      padding: 7px;  
 } 
.buttons,.submit{
     /* color: #E6E6FA; */
    color: #4B0082; 
     background-color: #DDA0DD;
     border-radius: 20px;
     font-size: 12px;  
      margin: 0 7px 7px 0;  
      padding: 7px;  
      font-family: Montserrat, sans-serif;  
}


.pre{
     font-family: Montserrat, sans-serif; 
     align-self: center;
     display: block;
     
     
}
.form{
     
     
     display: inline;
    text-align: center;

  
}




 .skillsss {  
     background-color: #1F1A36;  
     text-align: left;  
     padding: 15px;  
     margin-top: 20px;  
     border-radius: 4px;
}  
.skillsss ul {  
     text-align:left;
     list-style-type: circle;  
     margin: 0;
     padding: 10px;  
}  


.skills1 {  
     background-color: #1F1A36;  
     text-align: left;  
     padding: 15px;  
     margin-top: 0px;  
     border-radius: 4px;
}  
.skills1 ul {  
     text-align:left;
     list-style-type: circle;  
     margin: 0;
     padding: 10px;  
} 

.buttons,.submit{
     /* color: #E6E6FA; */
    color: #4B0082; 
     background-color: #DDA0DD;
     border-radius: 20px;
     font-size: 12px;  
      margin: 0 7px 7px 0;  
      padding: 7px;  
      font-family: Montserrat, sans-serif;  
}
.skills.buttons.link{
     color: #4B0082; 
     background-color: #DDA0DD;
}
/* curve in box of name email  number and background color of box  */
/* padding 8px will start entering text from a little away from box border */
/* border: 3px solid #03BFCB; this give blue type color to border of input area */

input[type="text"],input[type="email"]{
     border-radius: 50px;
     background-color: #eec0c8;
     padding-left: 8px;
     border: 3px solid #03BFCB; 
    
}

/* to remove blue colour and underline from button  */
a:link {
     /* background-color: #f44336;
     color: white;
     padding: 14px 25px; */
     text-align: center;
     text-decoration: none;
     /* display: inline-block; */
   }

 footer {  
  background-color:#1d1160;
   /* background-color:#452c63 */
   color: #fff;  
   font-size: 14px;  
   bottom: 0;  
   position: fixed;  
   width: 100%;
   left: 0;  
   right: 0;  
   margin-top: 0px;
   text-align: center;  
   z-index: 999;  
 }  
 footer p {  
   margin: 10px 0;  
 }  
 footer i {  
   color: red;  
 }  
 footer a {  
   color: #3c97bf;  
   text-decoration: none;  
 }  

 * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* background: #0A122A; */
    /* background-color: #24C6DC; */
                   /* background-color: #1CD8D2; */
    /* background-color: #4776E6; */
    background-color: #F8CDDA ;
  }
  


.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}



.fa-instagram {
  background: #125688;
  color: white;
}


.fa-whatsapp {
  background: green;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (max-width:584px) {
     .card-container{
          width: 100%;
  
     }
     body{
          padding: 0px;
     }
     footer{
          position: relative;
          margin-top: 45%;
          margin-bottom: 0px;
     }
}